<header>
  <nav class="navbar head fixed" id="header">
    <!-- set fixed position by adding class" navbar-fixed-top-->
    <div class="navbar-header">
      <div class="logo">
        <img src="assets/images/logo.png" alt="DMS Logo" />
      </div>
      <button
        type="button"
        class="navbar-toggle collapsed"
        data-toggle="collapse"
        data-target="#navbar"
        aria-expanded="false"
        aria-controls="navbar"
      >
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span> <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right nav-head">
        <li id="1" class="notification">
          <a href="#"
            ><i class="glyphicon glyphicon-envelope"></i> <span>2</span></a
          >
          <ul id="2" class="alert-view">
            <div class="alert-messages">
              <div class="alert-message left">
                <p class="alert-name left">Dr. Mazen Hany</p>
                <p class="alert-date right">15/11/2005</p>
                <div class="clear"></div>
                <p class="alert-details left">
                  56 yo female pt. known case of lung ca s/p radio and
                  chemotherapy.
                </p>
              </div>
              <!--end alert-message-->
              <div class="alert-message left">
                <p class="alert-name left">Dr. Mazen Hany</p>
                <p class="alert-date right">15/11/2005</p>
                <div class="clear"></div>
                <p class="alert-details left">
                  56 yo female pt. known case of lung ca s/p radio and
                  chemotherapy.
                </p>
              </div>
              <!--end alert-message-->
            </div>
            <!--end alert-messages-->
            <div class="clear"></div>
            <a href="#" class="alert-all">View all messages</a>
          </ul>
        </li>
        <li id="3" class="notification">
          <a href="#"
            ><i class="glyphicon glyphicon-bell"></i> <span>5</span></a
          >
          <ul id="4" class="alert-view">
            <div class="alert-messages">
              <div class="alert-message left">
                <p class="alert-name left">Dr. Mazen Hany</p>
                <p class="alert-date right">15/11/2005</p>
                <div class="clear"></div>
                <p class="alert-details left">
                  56 yo female pt. known case of lung ca s/p radio and
                  chemotherapy.
                </p>
              </div>
              <!--end alert-message-->
              <div class="alert-message left">
                <p class="alert-name left">Dr. Mazen Hany</p>
                <p class="alert-date right">15/11/2005</p>
                <div class="clear"></div>
                <p class="alert-details left">
                  56 yo female pt. known case of lung ca s/p radio and
                  chemotherapy.
                </p>
              </div>
              <!--end alert-message-->
            </div>
            <!--end alert-messages-->
            <div class="clear"></div>
            <a href="#" class="alert-all">View all notifications</a>
          </ul>
        </li>
        <li class="help">
          <a href="#" data-toggle="modal" data-target="#helpModal"
            ><i class="glyphicon glyphicon-info-sign"></i
          ></a>
        </li>
        <li class="lang"><a href="#">ع</a></li>
        <li class="dropdown">
          <a
            href="#"
            class="dropdown-toggle"
            data-toggle="dropdown"
            role="button"
            aria-expanded="false"
            >Hossam Al Dine <span class="caret"></span
          ></a>
          <ul class="dropdown-menu smenu" role="menu">
            <li><a href="#">Profile</a></li>
            <li><a href="login.html">Log Out</a></li>
            <li>
              <a
                href="#"
                data-toggle="modal"
                data-target="#change_password_modal"
                >Change Password</a
              >
            </li>
          </ul>
        </li>
        <li></li>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </nav>
  <div class="clearfix"></div>
</header>
